.footDiv{
    bottom: 0;
    min-height: 260px;
    background-color: #fff;
}

.eachBox{
    width: 30%;
    padding: 10px;
    
}

.paperStyle{
    text-align: center;
    padding: 10px;
}

.eachBox p {
    margin: 5px 10px;
}

@media (max-width: 768px) {

    .eachBox{
        width: 50%;
    }

}