/* General Navbar Styles */
.navbar {
    text-align: center;
    padding-top: 20px;
    background-color: transparent !important;
    color: #36454f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1001;
}

.navbar-brand {
    font-family: cursive;
    color: #36454f;
}

.navbar-toggler {
    display: none; /* Initially hidden */
    cursor: pointer;
    color: #36454f; /* Adjust color as needed */
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    order:1;
    padding: 0 15px;
    background-color: transparent;
    border: none;
}

.nav-link {
    color: #36454f;
    text-decoration: none;
}

/* Collapsible Content Styles */
.collapse-content {
    display: flex;
    align-items: center;
}
.newCollapse {
    display: none;
}

.opacBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2); /* semi-transparent black */
    display: none; /* by default it's not displayed */
    z-index: 999;
}

.opacBack.show {
    display: block; /* displayed when menu is not collapsed */
}


/* Responsive Styles */
@media (max-width: 768px) {

    .collapse-content.hide {
        display: none !important;
    }

    .navbar-toggler {
        display: flex; /* Show toggler button */
    }

    .navbar-nav {
        text-align: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .collapse-content {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .collapse-content.show {
        order: 2;
        width: 100%;
        display: none;
        z-index: 1000;
    }

    .newCollapse.show {
        position: absolute;
        border-radius: 20px;
        top: 90px;
        width: 100%;
        display:flex;
        flex-direction: row;
        background-color: white;
        z-index: 1000;
        border: 0.5px solid #36454f;
    }

    .newNav{
        flex-direction: column;
        border-radius: 5px;
        width: 100% !important;
    }

    .navUnique{
        width: 100%;
    }

    .navBottom{
        border-bottom: 0.5px solid black;
    }
    .navTop{
        border-top: 0.5px solid black;
    }

}

/* SideCart Specific Styles */
/* Add any specific styles for your SideCart component here. If it's primarily controlled via its own CSS or JavaScript, you might not need much here. */

/* Simplified Input Style (if still required) */
input[type=text] {
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 100%; /* Ensure full-width inputs on smaller screens */
}

