.cartPage{
    background-color: #e7d287;
    margin: auto;
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center !important;
    color: maroon;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    font-family: cursive;
    padding-top: 20px;
    color:black;
    text-align: center;
}

.listText{
    display: flex;
    top: 0;
    text-align: center;
    color: maroon;
}

.imgDiv{
    border-radius: 40px;
}

.empty{
    color: black;
}

.sideBox{
    height: 100%;
    color: white;
    background-color: white;
}

.nav-side{
    color: #36454f;
    text-decoration: none;
}

.eachItemList{
    background-color: white;
    color: maroon;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px;
}

.eachItem{
}